dataverse-demo-n8n.json
{
  "name": "My app",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "238b2b7a-1a6a-459e-96fd-21d7eeba993f",
              "name": "=topic",
              "value": "Bí quyết ngủ ngon trong 5 phút",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        1856
      ],
      "id": "eb57a2ba-dd04-48c5-be75-9277e604c562",
      "name": "Set topic"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        992,
        1856
      ],
      "id": "ce18c7fa-02ee-4480-9cf9-1acee33bc2ad",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là chuyên gia biên kịch TikTok.\n\nDựa trên chủ đề: {{ $json.topic }}\n\nHãy tạo:\n\n1 Hook (3 giây đầu)\n3 phần nội dung\n1 Call to action\n\nSau đó chia thành 5 phân cảnh.\n\nOutput JSON format:\n\n{\n \"hook\": \"\",\n \"content\": [\n   \"\",\n   \"\",\n   \"\"\n ],\n \"cta\": \"\",\n \"scenes\":[\n   {\n    \"scene\":1,\n    \"image_prompt\":\"\",\n    \"narration\":\"\"\n   }\n ]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        1856
      ],
      "id": "1403da8e-4452-4873-81aa-ba286108286a",
      "name": "AI Script Generator"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"hook\": {\n      \"type\": \"string\"\n    },\n    \"content\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"cta\": {\n      \"type\": \"string\"\n    },\n    \"scenes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"scene\": {\n            \"type\": \"number\"\n          },\n          \"image_prompt\": {\n            \"type\": \"string\"\n          },\n          \"narration\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1584,
        2080
      ],
      "id": "ffd860c9-f518-4157-be2d-997cd10091f2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        2080
      ],
      "id": "d71ca524-cc76-4100-a9af-246d35365899",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "35H39O8NWUbO3a1l",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1792,
        1856
      ],
      "id": "89817054-d800-4023-b9b1-d36071dadd81",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "from PIL import Image, ImageDraw, ImageFont\nimport base64\nimport io\nimport hashlib\nimport numpy as np\n\nprompt = _item['json'].get('image_prompt', 'Scene')\nscene_num = _item['json'].get('scene', 1)\n\n# Tính màu gradient\nhash_val = int(hashlib.md5(prompt.encode()).hexdigest()[:6], 16)\nr1, g1, b1 = (hash_val >> 16) & 0xFF, (hash_val >> 8) & 0xFF, hash_val & 0xFF\nr2, g2, b2 = (255 - r1) // 2, (255 - g1) // 2, (255 - b1) // 2\n\nwidth, height = 576, 1024\n\n# ✅ Tạo gradient nhanh bằng NumPy (không bị timeout)\nratio = np.linspace(0, 1, height).reshape(-1, 1)\nr_arr = (r1 + (r2 - r1) * ratio).astype(np.uint8)\ng_arr = (g1 + (g2 - g1) * ratio).astype(np.uint8)\nb_arr = (b1 + (b2 - b1) * ratio).astype(np.uint8)\npixels = np.stack([r_arr, g_arr, b_arr], axis=2)\npixels = np.broadcast_to(pixels, (height, width, 3)).copy()\nimg = Image.fromarray(pixels, 'RGB')\ndraw = ImageDraw.Draw(img)\n\n# Font\ntry:\n    font = ImageFont.truetype('/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf', 28)\nexcept:\n    font = ImageFont.load_default()\n\n# Wrap text\nwords = prompt.split()\nlines = []\ncurrent_line = ''\nfor word in words:\n    test_line = current_line + ' ' + word if current_line else word\n    bbox = draw.textbbox((0, 0), test_line, font=font)\n    if bbox[2] - bbox[0] <= width - 80:\n        current_line = test_line\n    else:\n        if current_line:\n            lines.append(current_line)\n        current_line = word\nif current_line:\n    lines.append(current_line)\n\n# Vẽ text căn giữa\nline_height = 36\ntotal_height = len(lines) * line_height\ny_start = (height - total_height) // 2\nfor i, line in enumerate(lines):\n    bbox = draw.textbbox((0, 0), line, font=font)\n    text_width = bbox[2] - bbox[0]\n    x = (width - text_width) // 2\n    y = y_start + i * line_height\n    draw.text((x+2, y+2), line, fill=(0, 0, 0), font=font)\n    draw.text((x, y), line, fill=(255, 255, 255), font=font)\n\ndraw.text((20, 20), f'Scene {scene_num}', fill=(255, 255, 255), font=font)\n\n# Export\nbuf = io.BytesIO()\nimg.save(buf, format='PNG')\nbuf.seek(0)\n\nreturn {\n    'json': _item['json'],\n    'binary': {\n        'image': {\n            'data': base64.b64encode(buf.read()).decode('utf-8'),\n            'fileName': f'scene_{scene_num}.png',\n            'fileExtension': 'png',\n            'mimeType': 'image/png'\n        }\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1760
      ],
      "id": "6f5fa72f-3262-4b52-b1aa-0b2c246d50db",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "from gtts import gTTS\nimport base64\nimport io\n\n# Lấy nội dung narration từ node trước\ntext_to_read = _item['json'].get('narration', '')\nscene_num = _item['json'].get('scene', 1)\n\n# Tạo audio bằng gTTS (tiếng Việt)\ntts = gTTS(text=text_to_read, lang='vi')\n\n# Lưu vào buffer\nmp3_fp = io.BytesIO()\ntts.write_to_fp(mp3_fp)\nmp3_fp.seek(0)\n\n# Trả dữ liệu binary cho n8n\nreturn {\n    \"json\": _item['json'],\n    \"binary\": {\n        \"voice\": {\n            \"data\": base64.b64encode(mp3_fp.read()).decode('utf-8'),\n            \"fileName\": f\"voice_scene_{scene_num}.mp3\",\n            \"fileExtension\": \"mp3\",\n            \"mimeType\": \"audio/mpeg\"\n        }\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1952
      ],
      "id": "7e1004db-4c7b-4723-a355-75629835abf7",
      "name": "Generate Voice"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "scene",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2464,
        1856
      ],
      "id": "bc350e19-fdc2-4884-b029-01aaef439448",
      "name": "Merge"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import os\nimport tempfile\nimport subprocess\nimport base64\nimport builtins   # ← quan trọng để dùng open()\n\n# Lấy tất cả 5 items từ Merge\nall_items = _items\n\n# Tạo thư mục tạm\ntemp_dir = tempfile.mkdtemp()\n\nimage_paths = []\naudio_paths = []\n\n# 1. Lưu image và voice ra file tạm\nfor i, item in enumerate(all_items):\n    # Image\n    img_b64 = item['binary']['image']['data']\n    img_data = base64.b64decode(img_b64)\n    img_path = os.path.join(temp_dir, f\"image_{i+1}.png\")\n    with builtins.open(img_path, 'wb') as f:      # ← sửa ở đây\n        f.write(img_data)\n    image_paths.append(img_path)\n\n    # Voice\n    aud_b64 = item['binary']['voice']['data']\n    aud_data = base64.b64decode(aud_b64)\n    aud_path = os.path.join(temp_dir, f\"voice_{i+1}.mp3\")\n    with builtins.open(aud_path, 'wb') as f:      # ← sửa ở đây\n        f.write(aud_data)\n    audio_paths.append(aud_path)\n\n# 2. Tạo 5 clip ngắn (image + voice)\nclip_paths = []\nfor i in range(len(image_paths)):\n    clip_path = os.path.join(temp_dir, f\"clip_{i+1}.mp4\")\n    cmd = [\n        'ffmpeg', '-y',\n        '-loop', '1',\n        '-i', image_paths[i],\n        '-i', audio_paths[i],\n        '-c:v', 'libx264',\n        '-c:a', 'aac',\n        '-pix_fmt', 'yuv420p',\n        '-shortest',\n        clip_path\n    ]\n    subprocess.run(cmd, check=True, capture_output=True)\n    clip_paths.append(clip_path)\n\n# 3. Ghép 5 clip thành 1 video duy nhất\nconcat_list = os.path.join(temp_dir, 'concat.txt')\nwith builtins.open(concat_list, 'w') as f:        # ← sửa ở đây\n    for clip in clip_paths:\n        f.write(f\"file '{clip}'\\n\")\n\nfinal_path = os.path.join(temp_dir, 'final_video.mp4')\ncmd = [\n    'ffmpeg', '-y',\n    '-f', 'concat',\n    '-safe', '0',\n    '-i', concat_list,\n    '-c', 'copy',\n    final_path\n]\nsubprocess.run(cmd, check=True, capture_output=True)\n\n# 4. Đọc video và trả về n8n\nwith builtins.open(final_path, 'rb') as f:        # ← sửa ở đây\n    video_data = f.read()\n\nvideo_b64 = base64.b64encode(video_data).decode('utf-8')\n\nreturn {\n    \"json\": {\n        \"total_scenes\": len(all_items),\n        \"status\": \"success\",\n        \"video_name\": \"final_video.mp4\"\n    },\n    \"binary\": {\n        \"video\": {\n            \"data\": video_b64,\n            \"fileName\": \"final_video.mp4\",\n            \"fileExtension\": \"mp4\",\n            \"mimeType\": \"video/mp4\"\n        }\n    }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        1856
      ],
      "id": "a3095fc0-c2a6-44f5-b5ea-446187ca0ca8",
      "name": "Create Video"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2016,
        1856
      ],
      "id": "859206c5-f66f-4243-bfc3-a0fdf585ebaa",
      "name": "Wait",
      "webhookId": "94a21ff6-7864-4bd0-9d9c-f274a81e9bd8"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set topic": {
      "main": [
        [
          {
            "node": "AI Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Script Generator": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Script Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Script Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Generate Voice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4f1c1f34-d1d8-47fd-8631-de66d6ee4400",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3593997ae0ebe5f56692a957ceab0f91ff102f35505e9b50cb45630a42cdadde"
  },
  "id": "aUYIggaLxBWvPxut",
  "tags": []
}